.top{
    background-color: white;
    padding: 1.5%;
    padding-right: 0%;
    padding-left: 0%;
    margin-bottom: 1%;
    width: 100%;
}
.display{
    margin-left: 5%;
    background-color: white;
}